/* source-serif-pro-regular - latin_cyrillic */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/source-serif-pro-v15-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-serif-pro-v15-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-serif-pro-italic - latin_cyrillic */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/source-serif-pro-v15-latin_cyrillic-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-serif-pro-v15-latin_cyrillic-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-serif-pro-700 - latin_cyrillic */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/source-serif-pro-v15-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-serif-pro-v15-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//color
$color_main:#3A5F56;
$color_desc: rgb(122, 122, 122);
$color_text: rgb(117, 117, 117);
$color_second: rgb(68, 92, 68);

//size
$mage_title: 60px;
$title2: 48px;
$title: 32px;
$title3: 28px;
$text: 20px;
$text2: 18px;
$desc: 16px;
$desc2: 14px;

//bg color
$bg_box: #F4F3F0;
$bg_main: rgb(242, 248, 243);
$bg_second:rgba(255, 191, 0, 0.487);

html {
  width: 100%;
}

body {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-size: $text;
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
}

a:hover {
  font-size: $text2;
  color: rgb(68, 92, 68);
  transition: font-size 0.5s;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  background: $bg_main;
  display: flex;
  flex-direction: column;

}

.container {
  padding: 0 110px;
  display: flex;
}

// HEADER START

block-job {
  flex-basis: 50%;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding-top: 5px;

  & .active {

    & img {
      height: 50px;
      transition: height 0.5s ease;
    }
  }

  .lang {
    padding-left: 10px;
    font-size: $text;
    color: $color_main;
  }

  & img {
    padding: 0;
    height: 30px;
    transition: height 0.5s ease;
  }
}

span {
  font-weight: 700;
  font-size: $text;
}

.bg {
  background: $bg_main;
}

.header-bottom__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
}

.flag img {
  float: center;
  height: 20px;
}

.contact-title {
  padding-top: 10px;
}

.block {
  &__left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 50%;
    padding-right: 30px;
  }

  &__right {
    flex-basis: 50%;
    min-width: 400px;

    & img {
      height: auto;
      width: 100%;
      display: block;
      border-radius: $text;
    }
  }

  &__dates {
    font-size: $desc;
    padding-top: 5px;
    color: $color_desc;
    font-style: oblique;
  }

  &__name {
    font-size: $mage_title;
    color: $color_main;
    padding-top: 15px;

    &__vacancy {
      color: $color_text;
      font-size: $text;
      padding-bottom: 10px;
    }
  }

  &__form {}

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: $title;
    line-height: 120%;
    color: $color_main;
    width: 85%;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  &__text {
    line-height: 2rem;

    &-second {
      font-weight: bold;
      font-size: $text;
      color: $color_second;
      padding: 5px 0;
    }
  }

  &__contacts {
    font-style: normal;
    font-weight: 700;
    font-size: $desc;
    line-height: $text;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-link {
      padding-left: 7px;
      font-style: normal;
      font-weight: 400;
      font-size: $desc;
      line-height: $text;
      color: $color_desc;
    }

    & img {
      max-width: 25px;
      float: left;
      padding-bottom: 5px;
    }
  }
}

//JOBS
.block-job {
  flex-basis: 45%;
  background-color: white;
  box-shadow: 10px 5px 5px $color_text;
  margin: 15px;
  padding: 30px;
  border-radius: 14px;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: #007e1b3b;
    transition: background-color 1s ease-in-out;
  }

  &__title {
    font-size: $title2;
  }

  &__text {
    font-size: $text;
  }
}

.jobs {
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.job-logo img {
  float: right;
  height: 80px;
}

.btitle {

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: $title2;
    line-height: 120%;
    color: $color_main;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: $text;
    color: $color_second;
    line-height: 30px;
    margin: 10px auto;
    text-align: center;
    width: 70%;
  }
}

// skills SOFT
.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.soft-skills {
  background-color: white;
  box-shadow: 10px 5px 5px $color_text;
  margin: 15px;
  padding: 30px;
  border-radius: 14px;
  transition: transform 1s, background-color 2s ease;
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: flex-start;
  flex-basis: 45%;
  line-height: 40px;

  &:hover {
    transform: rotateY(180deg);
    background-color: rgba(224, 224, 224, 0.164);
    transition: transform 1s, background-color 2s ease-in-out;

    border: 1px solid black;
  }

  & img {
    background-color: rgba(224, 224, 224, 0.164);
    border-radius: $text;
    width: 80px;
    height: 80px;
    padding: 5px;
    margin-bottom: 10px;
    filter: invert(1);
  }

  &__title {
    font-size: $title3;

  }

  &__text {
    font-size: $text;
    transform: rotateY(180deg);
    display: none;
    text-align: center;
    text-shadow: 1px 1px 3px white;
  }
}

// container_skills-and-languages
.skills_languages {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-between;
}

.container_tech {
  flex-basis: 60%;
}

.container_lang {
  flex-basis: 40%;

}


.tech-skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech-skills {
  background-color: white;
  box-shadow: 10px 5px 5px $color_text;
  margin: 5px;
  padding: 30px;
  border-radius: 14px;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: #7e76003b;
    transition: background-color 1s ease-in-out;
  }

  &__list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    font-size: $text;
    font-weight: 700;
  }

  &__title {
    font-size: $title2;
    padding-left: 100px;
    text-align: right;
  }
}

ul li {
  list-style-type: circle;
  padding-right: 30px;
  margin: 10px;
  margin-left: 20px;
}

.language {
  background-color: white;
  box-shadow: 10px 5px 5px $color_text;
  margin: 15px;
  padding: 20px;
  border-radius: 14px;
  transition: background-color 0.5s ease-in-out;
  

  &:hover {
    background-color: #7e76003b;
    transition: background-color 1s ease-in-out;
  }

  &__text {
    font-size: $desc;
    line-height: 20px;
    margin: 5px 20px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__list {
    padding: 0 10px;
  }
}

// FOOTER 
.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #3A5F56;
}

.right {
  display: none;
}

.left {
  display: flex;
}

.mobile {
  display: none;
}

// BreakPoints

@media (max-width: 1281px) {
  .right {
    display: flex;
  }

  .left {
    display: none;
  }
}



@media (max-width: 1151px) {

  .wrapper {
    width: 100%;
  }

}

@media (max-width: 1051px) {
  .mobile {
    display: flex;
  }

  .note {
    display: none;
  }

  .block {
    &__left {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-basis: 100%;
      padding-right: 30px;
    }

    &__right {
      flex-basis: 100%;
      padding-top: 30px;
    }
  }

  .bio-columns {
    display: flex;
    justify-content: space-between;
  }

  .bio-column {
    flex-basis: 50%;
  }

  .left {
    display: flex;
    padding-left: 50px;
  }

  .right {
    display: none;
  }

  .btitle__text {
    width: 90%;
  }

  .container_tech {
    flex-basis: 55%;
  }
  
  .container_lang {
    flex-basis: 45%;
  
  }
}

@media (max-width:971px) {
  .soft-skills {
    flex-basis: 80%;
  }
.skills_languages{
  justify-content: center;
}
.tech-skills__list, .language__list{
  flex-direction: column;
}
  .container_tech {
    flex-basis: 80%;
  }
  
  .container_lang {
    flex-basis: 80%;
  }
}

@media (max-width: 881px) {
  .container {
    padding: 0 30px;
  }

  .languages {
    position: absolute;
    right: 0;
    padding-right: 10px;

  }

  .jobs__container {
    justify-content: center;
  }

  .block-job, .soft-skills {
    flex-basis: 80%;
    border: 1px solid black;
  }


  .language, .tech-skills{
    border: 1px solid black;
  }
}

@media (max-width: 761px) {
  .bio-columns {
    flex-direction: column;
  }

  .left {
    padding-left: 0;
  }

  .wrapper {
    background: none;
  }
}

@media (max-width: 601px) {
  .block-job, .soft-skills {
    flex-basis: 100%;
  }

  
}